+++1) Я могу добавить новую заметку. Заметка обязана содержать:
Заголовок, подробный текст, дату создания заметки.

+++2) Я хочу просмотреть список всех заметок. У меня в консоли должно быть отображено это примерно так:
[Номер заметки] - [Заголовок] - [Дата создания]
Пример:
1 - Мастурбация свинье   - 01.09.2025
2 - Список покупок       - 01.09.2025
3 - Адреса казино        - 02.09.2025
4 - Очень длинное наз... - 03.09.2025

Важно, чтобы был отступ совпадал и выводило таблицей. Если название слишком длинное, обрубать его. 
Максимальная длина названия - 20 символов + по 2 пробела с каждой стороны от названия.

+++3) Я хочу иметь возможно посмотреть подробно заметку, введя ее номер. На вввод подаю номер, на выводе вижу:

[Номер заметки] - [Заголовок (без ограничения на длину)] - [Дата создания]
[Текст заметки (одна строка - 100 символов. Если слово полностью не помещается - не пишем его на этой строке, переносим полность.)]

Например, если я ввел 2, то я вижу:

2 - Список покупок       - 01.09.2025
Нужно купить пивка, хуйка, морского конька. Как вариант можно сходить в магнит, но вообще лучше бы 
в командор, т.к. там охуенный греческий йогурт, его тоже норм тема взять

++4) Я хочу иметь возможность отредактировать созданную заметку. Я могу изменить:
Заголовок, текст заметки, дату создания. Если я захочу оставить прошлое значение, то я введу пустую строку.
Перед изменением я вижу информацию о заметке из пункта 3.
Например, если ввести 2:

Например, если я ввел 2, то я вижу (то что в [] - пользовательский ввод):

2 - Список покупок       - 01.09.2025
Нужно купить пивка, хуйка, морского конька. Как вариант можно сходить в магнит, но вообще лучше бы 
в командор, т.к. там охуенный греческий йогурт, его тоже норм тема взять

Ввведите заголовок: [Список покупок в магните]
Заголовок изменен!
Введите текст заметки: []
Текст заметки не изменен!
Введите дату создания заметки: [20.04.2004]
Дата создания изменена!

+++5) Необходимо сохранять заметки при выходе (команда 0) и при входе. Для хранения использовать текстовый файл и json.

+++6) Тк идет итерация по мапе - меню выводится не в отсортированном порядке. Нужно сделать отсортированный